body {
    background-color:  rgb(153, 192, 170);
}

h1 {
    font-size: 50px;
    color: whitesmoke;
}

#weatherContent {
    display: none;
}

#searchResults,
#cityDetail,
.card {
    background-color: rgb(124, 143, 126)!important;
}

#searchResults {
    height: 100vh;
}

#fiveDay .card {
    border: 1px solid whitesmoke!important;
}